In [147]:
import pandas as pd
import numpy as np

In [148]:
data = pd.read_csv("311_Service_Requests_from_2010_to_Present.csv", low_memory=True)

KeyboardInterrupt:

In [64]:
#data.isnull().sum()/len(data)*100.0
#column needed : Created Date, Closed Date(impute), Agency, Agency Name, Complaint Type, City, Status, Community Board, Borough,
# Latitude, Longitude

In [65]:
filter_data = data[['Created Date', 'Closed Date', 'Agency', 'Agency Name', 'Complaint Type', 'City', 'Status', 'Community Board', 'Borough','Latitude', 'Longitude']]

In [ ]:
filter_data.dropna(inplace=True)

In [70]:
filter_data.isnull().sum()

Created Date       0
Closed Date        0
Agency             0
Agency Name        0
Complaint Type     0
City               0
Status             0
Community Board    0
Borough            0
Latitude           0
Longitude          0
dtype: int64

In [149]:
filter_data.head()

,Created Date,Closed Date,Agency,Agency Name,Complaint Type,City,Status,Community Board,Borough,Latitude,Longitude
0,06/18/2010 04:18:00 PM,06/24/2010 12:20:00 PM,DEP,Department of Environmental Protection,Sewer,Bayside,Closed,11 QUEENS,QUEENS,40.761097,-73.763853
1,06/18/2010 04:38:00 PM,06/19/2010 01:50:00 AM,DEP,Department of Environmental Protection,Water System,BROOKLYN,Closed,04 BROOKLYN,BROOKLYN,40.702799,-73.913643
2,06/18/2010 04:55:00 PM,06/18/2010 06:55:00 PM,DEP,Department of Environmental Protection,Water System,NEW YORK,Closed,09 MANHATTAN,MANHATTAN,40.822258,-73.956155
3,06/18/2010 04:55:00 PM,06/19/2010 11:00:00 AM,DEP,Department of Environmental Protection,Sewer,STATEN ISLAND,Closed,01 STATEN ISLAND,STATEN ISLAND,40.624245,-74.138262
4,06/18/2010 05:01:00 PM,06/18/2010 05:01:00 PM,DEP,Department of Environmental Protection,Water System,NEW YORK,Closed,07 MANHATTAN,MANHATTAN,40.799072,-73.970423

In [73]:
for col in filter_data.columns:
    print(col, " : ",  filter_data[col].nunique())

Created Date  :  6364121
Closed Date  :  4049223
Agency  :  19
Agency Name  :  1447
Complaint Type  :  203
City  :  112
Status  :  9
Community Board  :  77
Borough  :  6
Latitude  :  1032222
Longitude  :  1032233

In [150]:
filter_data.to_csv('filter_data_EDAV.csv')